ody {
	background: red;
}
h1{
	margin-left: 550px;
	color: red;
        padding-top: 8px;
	font-family: tahoma;
}
#ro{
width:36%;
background-color: white;
border: solid 4px;
margin-left: 300px;
padding-left: 5px;
margin-bottom: 7px;
border-color: white;
font-family: tahoma;
border-radius: 8px;
}
#co{
	width: 30%;
	background: white;
	padding: 15px;
	margin-left: 350px;
	font-family: tahoma;
	border-radius: 8px;

}
input{
	width: 70%;
}
#so{
	border: solid 1px;
	width: 65%;
	text-align: center;
	text-decoration: none;
	background: green;
	padding: 8px;
	font-family: tahoma;
	border-radius: 10px;
}
a{
	text-decoration: none;
}
a:hover{
	color: white;
}
footer{
	background: white;
	width:100%;
	padding: 20px;
	margin-top: 38px;
	height: 20px;
}
